:root{
  --text-color: #191a1b;
  --darker-color: #000;
  --primary-color: #4C5FD5;
  --secondary-color: #dadbf1;
  --bg-color: #fff;
  --font: GT-America-Regular, sans-serif;
}

*{
  margin: 0;
  font-family: var(--font);
  font-size: 24px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darker-color);
  color: var(--bg-color);
  height: 88px;
  padding: 0 100px;
}

nav a{
  font-size: 26px;
  color: var(--bg-color);
  padding: 10px;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  height: 460px;
}

footer{
  background-color: var(--darker-color);
  color: var(--bg-color);
}

h1{
  font-size: 80px;
  font-weight: 100;
}

a{
  color: var(--primary-color);
  text-decoration: none;
  font-size: 20px;
}

img{
  max-height: 90px;
  max-width: 100%;
  margin-right: 30px;
  margin-top: 8px;
}

h3{
  margin-left: 20px;
  margin-bottom: 20px;
}

h4{
  margin-bottom: 20px;
}

form{
  margin-top: 20px;
  display: flex;
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 1px solid #393a3b;
  box-shadow:0 9px 14px 0 rgba(0, 0, 0, 0.1)
}

ul li{
  list-style: none;
  margin-left: -20px;
}

ul li a{
  color: var(--bg-color);
  font-size: 16px;
}

ul li a:hover{
  color: var(--bg-color);
  text-decoration: underline;
}

.card{
  display: flex;
  flex-basis: 800px;
  margin-bottom: 3rem;
}

.card p{
  margin-bottom: 20px;
}

.logoSvg{
  width: 40px;
  height: 40px;
  margin: auto 0;
}

#signInBtn{
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: 10px 32px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

#submitReqBtn{
  background: #191a1b;
  color: var(--bg-color);
  padding: 10px 28px;
  border: 1px solid var(--bg-color);
  border-radius: 8px;
}

#navBtnsContainer{
  display: flex;
  gap: 15px;
}

#navLogoContainer{
  display: flex;
  justify-content: center;
}

#helpCenter{
  border-left: 2px solid var(--bg-color);
}

#cardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8rem 0 4rem 7rem;
}

#cardsContainer p{
  padding-right: 80px;
}

#footerContainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 70px;
  padding-top: 50px;
}

#search{
  padding-left: 20px;
  width: 700px;
  height: 70px;
  border: none;
  border-radius: 5px;
}

#arrowSvg{
  width: 28px;
  margin-right: 10px;
}

#questionSvg{
  fill: #fff;
}

#contactUsTitle{
  margin-left: -20px;
  margin-top: 30px;
}

#logoSvgFooter{
  margin-bottom: 20px;
}

#helpBtnContainer{
  position:fixed;
  bottom: 20px;
  margin-right: 15px;
  right: 0px;
}

#helpBtnContainer button{
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#copyright{
  margin-top: 100px;
}

#copyright p{
  font-size: 20px;
}

@font-face {
  font-family: 'GT-America-Regular';
  src: url(./GT-America-Regular.ttf);
}

